.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.card {
  background-color: #2f3f4c;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0.2rem;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.mt {
  margin-top: 0.5rem;
}

.carousel {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.carousel img {
  width: 40vmin;
  height: 70vmin;
  object-fit: cover;
  object-position: 100% center;
}

.caret {
  margin-top: 85vh;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}
